// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.mission {
    width: 100%;
    height: 621.08rem;
    background-image: image('/top/top_main.png');
    background-size: 100% 100%;
}