.page {
    text-align: center;
    @include kozuka('bold');
    &-ttl {
        padding: 82px 0 56px;
        h1 {
            font-size: 60px;
            color: #0070BC;
        }
        p {
            color: #00A4D6;
            font-size: 24px;
        }
    }
    &-category {
        .container {
            display: flex;
            justify-content: center;
        }
        &__item {
            width: 250px;
            height: 59.17px;
            border-radius: 29.58px;
            color: #fff;
            font-size: 24px;
            margin: 0 13px;
            background: #00b1ec;
            span {
                letter-spacing: -5px;
            }
            &:first-child {
                background: linear-gradient(#00b1ec 0%, #0070bc 100%);
            }
        }
    }
}

@include lg {
    .page {
        &-ttl {
            padding: 82rem 0 56rem;
            h1 {
                font-size: 60rem;
            }
            p {
                font-size: 24rem;
            }
        }
        &-category {
            .container {
                flex-wrap: wrap;
            }
            &__item {
                width: 250rem;
                height: 59.17rem;
                border-radius: 29.58rem;
                font-size: 24rem;
                margin: 0 13rem;
                span {
                    letter-spacing: -5rem;
                }
            }
        }
    }
}

@include md {
    .page {
        &-ttl {
            padding: 67rem 0 47rem;
        }
        &-category {
            .container {
                flex-wrap: wrap;
            }
            &__item {
                width: 250rem;
                height: 59.17rem;
                border-radius: 29.58rem;
                margin: 0 14rem;
                &:last-child {
                    margin-top: 24rem;
                }
            }
        }
    }
}

.news-pagination {
    display: flex;
    justify-content: center;
    margin-top: 66px;
    &__content {
        display: flex;
        align-items: center;
    }
    &__item {
        @include noto('bold');
        font-size: 24px;
        color: #00b1ec;
        margin: 0 14px;
    }
    &__item.active {
        background: #00b1ec;   
        color: #ffffff;
        width: 35.11px;
        height: 35.11px;
        border-radius: 6px;
        margin: 0 13px;
    }
    &__moreBtn {
        width: 164.69px;
        height: 41.48px;
        border-radius: 20.74px;
        background: #00b1ec;
        font-size: 14px;
        color: #ffffff;
        margin-left: 29px;
    }
}

@include lg {

    .news-pagination {
        margin-top: 66rem;
        &__item {
            font-size: 24rem;
            margin: 0 14rem;
        }
        &__item.active {
            width: 35.11rem;
            height: 35.11rem;
            border-radius: 6rem;
            margin: 0 13rem;
        }
        &__moreBtn {
            width: 164.69rem;
            height: 41.48rem;
            border-radius: 20.74rem;
            font-size: 14rem;
            margin-left: 29rem;
        }
    }
}

@include md {

    .news-pagination {
        margin-top: 66rem;
        &__item {
            font-size: 28rem;
            margin: 0 16rem;
        }
        &__item.active {
            width: 45.41rem;
            height: 45.41rem;
            border-radius: 6rem;
            margin: 0 15rem;
        }
        &__moreBtn {
            width: 300.13rem;
            height: 78.85rem;
            border-radius: 39.43rem;
            font-size: 24rem;
            margin-left: 32rem;
        }
    }
}

.main-news {
    .news-bottom-content {
        margin-top: 0 !important;
    }

}

.news-single {
    text-align: center;
    &-top {
        background: linear-gradient(#00b1ec 0%, #0070bc 100%);
        padding: 24px 48px 40px;
        color: #ffffff;
        @include kozuka('bold');
    }
    &-info {
        text-align: left;
    }
    &__category {
        width: 104.28px;
        height: 28.56px;
        border-radius: 14.28px;
        background: #fff;
        color: #00B1EC;
        font-size: 10px;     
    }
    &__date {
        margin-top: 18px;
        font-size: 10px;
    }
    &__ttl {
        margin-top: 15px;
        font-size: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-align: left;
    }
    &__img {
        margin-top: 22px;
        width: 100%;
        height: 715.14px;
    }
    &__txt {
        margin-top: 32px;
        font-size: 12px;
        @include noto();
        text-align: left;
    }
    &__backBtn {
        width: 164.69px;
        height: 41.48px;
        border-radius: 20.74px;
        background: #00b1ec;
        color: #ffffff;        
        font-size: 14px;
        letter-spacing: 2px;
        @include acumin();
        margin-top: 76px;
    }
    &__scrollbar {
        width: 100%;
        height: 3px;
        background-color: #e6e6e6;
        margin-top: 128px;
    }
}

@include lg {

    .news-single {
        &-top {
            padding: 24rem 48rem 40rem;
        }
        &__category {
            width: 104.28rem;
            height: 28.56rem;
            border-radius: 14.28rem;
            font-size: 10rem;     
        }
        &__date {
            margin-top: 18rem;
            font-size: 10rem;
        }
        &__ttl {
            margin-top: 15rem;
            font-size: 24rem;
        }
        &__img {
            margin-top: 22rem;
            height: 715.14rem;
        }
        &__txt {
            margin-top: 32rem;
            font-size: 12rem;
        }
        &__backBtn {
            width: 164.69rem;
            height: 41.48rem;
            border-radius: 20.74rem;     
            font-size: 14rem;
            letter-spacing: 2rem;
            margin-top: 76rem;
        }
        &__scrollbar {
            height: 3rem;
            margin-top: 128rem;
        }
    }
}

@include md {

    .news-single {
        &-top {
            padding: 19rem 24rem 30rem;
        }
        &-info {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
        }
        &__category {
            width: 179.57rem;
            height: 51.39rem;
            border-radius: 25.69rem;
            font-size: 24rem;
            margin-left: 25rem; 
        }
        &__date {
            margin-top: unset;
            font-size: 24rem;
        }
        &__ttl {
            margin-top: 23rem;
            font-size: 32rem;
            @include kozuka();
        }
        &__img {
            margin-top: 22rem;
            height: 384rem;
        }
        &__txt {
            margin-top: 43rem;
            font-size: 24rem;
        }
        &__backBtn {
            width: 300.13rem;
            height: 78.85rem;
            border-radius: 39.43rem;   
            font-size: 24rem;
            letter-spacing: 2rem;
            margin-top: 52rem;
        }
        &__scrollbar {
            height: 3rem;
            margin-top: 82rem;
        }
    }
}